<div class="ui inverted vertical masthead center aligned segment">
  <div id="top-menu-inner-cont" class="ui container">
    <div class="ui large secondary inverted pointing menu">
      <a href="#" class="item">Home</a>
      <div class="right item">
        <!-- <a href="#" class="item">Username</a> -->

        <%= link_to "Log out", logout_path, class: "ui inverted button", method: "delete" %>
        <%# link_to "Sign up", signup_path, class: "ui inverted button" %>
      </div>
    </div>
  </div>
</div>
