<div id="main-container">

  <div id="project-menu" class="col-md-3">
    <div id="project-title">Projects:</div>
    <hr>
    <div class="ui button" id="new-project">Create new project</div>
    <div class="ui relaxed divided list">
      <% @projects.each do |project| %>
        <div class="item">
          <div class="content project-list" project-id='<%= project.id %>'>
            <div class="project-name"><%= project.name %></div>
            <% project.pages.each do |page| %>
            <%#binding.pry%>
              <div class="ui button content page-list" page-id='<%= page.id %>'>
                <%= page.title %>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="workspace" class="col-md-6">
    <div id="page-title">Select Page</div>
    <hr>
    <div id="page-container">
      <span id="page-content"></span>
    </div>
  </div>

  <div id="highlighter-menu" class="col-md-3">
    <div id="highlighter-title">Highlighter</div>
    <hr>
    <div id="highlighter-listing"></div>
  </div>

</div>
<!-- <div id="popUpBck"></div> -->

<div class="ui modal" id="new-highlighter-modal">
  <i class="close icon"></i>
  <div class="header">
    Create new Highlighter
  </div>
  <div class="input content">
    <div class="preview input"></div>
    <div class="ui container center aligned">
      <input class="ui input new-highlighter" type="text" name="name" placeholder="Highlighter name">
    </div>
    <div class="ui container center aligned">
      <input class="ui input new-highlighter" type="color" name="color" value="#ff0000">
      <input class="ui input new-highlighter" type="color" name="backgroundColor" value="#ff0000">
    </div>
  </div>
  <div class="actions">
    <div class="ui button">Cancel</div>
    <input type="submit">
  </div>
</div>
