/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require semantic
 *= require icon
 *= require_tree .
 *= require_self
 */
 .login.main-container {
   height: 100vh;
   width: 100vw;
 }

 #highlighter-menu {
   margin-top: 5px;
 }

 .projects.main-container {
   width: 100vw;
   margin-top: 20px;
   height: 83vh;
 }

 h1 {
   font-size: 80px;
 }

 h2 {
   font-size: 32px;
 }

 #page-container, #highlighter-listing {
   overflow-y: scroll;
   height: 72vh;
 }

 #page-content {
   font-size: 18px;
 }

 #new-project, #new-highlighter, #top-menu-inner-cont, .project-list, .page-list, .highlighter-list {
   width: 100%;
 }

 #new-highlighter {
   margin: 5px 0;
 }

 .highlighter-list-wrap {
   border: 5px solid white;
   border-radius: 2px;
 }

 #page-title, #project-title{
   height: 28px;
   font-size: 24px;
 }

 .right-menu.toggler.on {
   height: 28px;
   font-size: 24px;
   color: black;
 }

 .right-menu.toggler.off {
   font-size: 18px;
   color: gray;
 }

 .field {
   margin: 10px !important;
 }

 .project-name {
   font-size: 18px;
   height: 20px;
 }

 #popUpBck {
   z-index: 10;
   background-color: rgba(0,0,0,0.3);
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
 }

 #search-container {
   visibility: hidden;
 }

 .multiple.selection {
   width: 40px;
 }

 .new-page {
   float: right;
 }

 .ui.input.content {
   display: inline-block;
   width: 210px;
 }

 #page-change-wrap {
   display: inline-block;
   width: 150px
 }

 .ui.relaxed.divided.list {
   height: 65vh;
   overflow-y: scroll;
 }

 .login-wrap {
   margin: 70px;
 }

 #login-button {
   margin-left: 20px;
   height: 45px;
 }

 .login.input {
   margin: 5px;
 }

 .highlighter.color.input-wrap {
   display: inline-block;
   margin: 10px 5px;
 }

 .wrapper {
   margin: 25px 40px;
 }

#page-header {
  height: 42px;
  font-size: 40px;
}

.settings.title {
  margin: 5px 0;
  font-size: 26px;
  height: 28px;
}

.subtitle {
  margin: 5px 0;
  font-size: 18px;
  height: 20px;
}
.top-menu.item.left {
  height: 32px;
  font-size: 32px;
}

.top-menu.item{
  height: 20px;
  font-size: 18px;
  margin-right: 20px;
}

 .page-toogle {
   float: right;
 }

 .preview.highlighter {
   text-align: center;
   height: 30px;
   width: 200px;
   background-color: yellow;
   margin: auto;
 }

 .ui.small.input.container.highlighter {
   width: 200px;
 }

 .note.item {
   padding: 5px 20px;
 }

 .search-results.item.note {
   background-color: white;
   color: black;
 }

 #search-highlighter-regex-input {
   width: 300px;
   padding: 0 !important;
   margin: 5px 0;
   display: inline-block;
 }

 #search-multi-dropdown {
   margin: 5px 0;
 }

 #submit-multi-dropdown-search {
   margin: 5px 0;
 }

 .search.regex {
   width: 300px;
 }

 .ui.selection.dropdown.multiple {
   width: 100%;
 }

 #search-result-title {
   height: 24px;
   font-size: 24px;
   margin: 5px 0;
 }

 #submit-regex-search {
   margin-left: 8px;
 }
